# Remy Adams

## Research question/interests

My research question is do pressure changes vary seasonally? and what seasonal patterns will you find on Mars? I chose these questions because with my group we talked a lot about the potential for life to be sustained on Mars and a big factor in that would be temperature. Knowing that Earth has a fairly predictable seasonal pattern, I thought it would be interesting to see what patterns exist on Mars and if we could pinpoint a winter, spring, summer and fall.

In [3]:
import pandas as pd

In [6]:
rawmars_Data = pd.read_csv("../data/raw/mars-weather.csv")
rawmars_Data

,id,terrestrial_date,sol,ls,month,min_temp,max_temp,pressure,wind_speed,atmo_opacity
0,1895,2018-02-27,1977,135,Month 5,-77.0,-10.0,727.0,NaN,Sunny
1,1893,2018-02-26,1976,135,Month 5,-77.0,-10.0,728.0,NaN,Sunny
2,1894,2018-02-25,1975,134,Month 5,-76.0,-16.0,729.0,NaN,Sunny
3,1892,2018-02-24,1974,134,Month 5,-77.0,-13.0,729.0,NaN,Sunny
4,1889,2018-02-23,1973,133,Month 5,-78.0,-18.0,730.0,NaN,Sunny
...,...,...,...,...,...,...,...,...,...,...
1889,24,2012-08-18,12,156,Month 6,-76.0,-18.0,741.0,NaN,Sunny
1890,13,2012-08-17,11,156,Month 6,-76.0,-11.0,740.0,NaN,Sunny
1891,2,2012-08-16,10,155,Month 6,-75.0,-16.0,739.0,NaN,Sunny
1892,232,2012-08-15,9,155,Month 6,NaN,NaN,NaN,NaN,Sunny
1893,1,2012-08-07,1,150,Month 6,NaN,NaN,NaN,NaN,Sunny